# Python
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Environment variables
.env

# Streamlit
.streamlit/

# ChromaDB vectorstore
vectorstore/

# macOS system files
.DS_Store

# VS Code
.vscode/